body {
    
  margin-top: 90px;
  background: #f4511e ; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #f4511e, #e64a19);
  background: -moz-linear-gradient(right, #f4511e , #e64a19);
  background: -o-linear-gradient(right, #f4511e , #e64a19);
  background: linear-gradient(to left, #f4511e , #e64a19);
  padding-right: 40px; 
  padding-left: 40px;
}

.Name {
    font-size: 23px;
    font-family: 'Roboto Condensed', sans-serif;
}

.logo {
	width: 250px;
	height: 250px;
}

.splash {
	background-color: white;
    padding: 5px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    margin: 20px auto 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
     padding-bottom: 40px;
    padding-top: 40px;
}

.align-center {
  text-align: center;
}

.question {
  font-size: 25px;
  text-decoration: underline;
}



