body {
    
  margin-top: 90px;
  background: #f4511e ; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #f4511e, #e64a19);
  background: -moz-linear-gradient(right, #f4511e , #e64a19);
  background: -o-linear-gradient(right, #f4511e , #e64a19);
  background: linear-gradient(to left, #f4511e , #e64a19);
  padding-right: 40px; 
  padding-left: 40px;
}

h1 {
    color: blueviolet;
}

.Name {
    font-size: 23px;
    font-family: 'Merriweather', serif;
}

.logo {
	width: 250px;
	height: 250px;
}

.splash {
	background-color: white;
}

.align-center {
  text-align: center;
}

