body {
  background: #f4511e ; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #f4511e, #e64a19);
  background: -moz-linear-gradient(right, #f4511e , #e64a19);
  background: -o-linear-gradient(right, #f4511e , #e64a19);
  background: linear-gradient(to left, #f4511e , #e64a19);
    
  /* Set the top margin and everything will be placed underneath */  
  margin-top: 80px;
}

.bg-overlay{
  position:fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 700;
}

.form-background {
    background: #434447;
}

.changes-bottom {
    padding-bottom: 25px;
}

.changes-top {
    padding-top: 50px;
}