body {
  background: #f4511e ; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #f4511e, #e64a19);
  background: -moz-linear-gradient(right, #f4511e , #e64a19);
  background: -o-linear-gradient(right, #f4511e , #e64a19);
  background: linear-gradient(to left, #f4511e , #e64a19);
    
  /* Set the top margin and everything will be placed underneath */  
  margin-top: 80px;
}

h4 {
    color: black;
}

input.hidden {
    position: absolute;
    left: -9999px;
}

#profile-image1 {
    cursor: pointer;
    width: 100px;
    height: 100px;
	border:2px solid black;
}

.tital { 
    font-size:16px; font-weight:500;
}

.bot-border { 
    border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0
}

.center {
    margin: 0 auto;
}