body {
  background: #f4511e ; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #f4511e, #e64a19);
  background: -moz-linear-gradient(right, #f4511e , #e64a19);
  background: -o-linear-gradient(right, #f4511e , #e64a19);
  background: linear-gradient(to left, #f4511e , #e64a19);
    
  /* Set the top margin and everything will be placed underneath */  
  margin-top: 80px;
}

.outer{
  max-width: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bgprofile{
  position: relative;
  background: linear-gradient(0, #FFFFFF 90%, #F0F0F0 10%);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 15px;
  width: 120%;
  right: 8%;
}

.profile-pic{
  float: left;
  margin-right: 100px;
}

.profile-pic img{
  background-color: white;
}

.flex{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

.profile-content{
  left: 170px;
  bottom: 70px;
}

.profile-fields{
  margin-top: 7px;
  padding: 0 5px 0 0 ;
  width: 40%;
  text-align: right;
}

.profile-fields h6{
  margin-bottom: 21px;
}

.profile-inputs{
  padding: 0 0 0 5px ;
  width: 40%;
}

.edit-btn{
  margin-left: 250px;
}

.upload-btn{
  margin-bottom: 5px;
}

input, textarea{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 7.5px;
  padding: 6px;
  box-sizing: border-box;
  font-size: 14px;
}

input.hidden {
    position: absolute;
    left: -9999px;
}

#profile-image1 {
    cursor: pointer;
    width: 150px;
    height: 150px;
	border: 2px solid lightgray;
}
