body {
  background: #f4511e ; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #f4511e, #e64a19);
  background: -moz-linear-gradient(right, #f4511e , #e64a19);
  background: -o-linear-gradient(right, #f4511e , #e64a19);
  background: linear-gradient(to left, #f4511e , #e64a19); 
    
}

.custom {
    background: white;
    border-radius: 10px;
    padding: 5px;
}

.custom2 {
   
    margin: 20px 20px 20px 20px;
    
}

.splash {
	background-color: white;
    padding: 5px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    margin: 20px auto 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}